{%extends "header_base.html"%}
{% block title %}Recorder{% endblock%}
{%block content%}
{% load static %}


{% load static %}
    <div class="container">
         {% if not bands %}
            <pre class="pre_styling_bio"><p class="para_styling"><strong>No Bands Exist</strong></p></pre>
        {% endif %}
        {% for band in bands %}
        <div class="band_list">
            <a href="{% url 'band' %}">
                <p class="band_name">{{ band.band_name }}</p>
            </a>
            <p class="band_event"><b>Upcoming Event: </b> Music concert in Amsterdam</p>
            <div style="width: 2000px; height: 90px;">

                <img src="{% url 'band_photo' band.id %}" width="100" height="70" alt="{% static 'tempo/images/profpict2.png' %}" />
            </div>
        </div>
        {% endfor %}

    </div>


{% endblock%}