{%extends "header_base.html"%}
{% block title %}Recorder{% endblock%}
{%block content%}
{% load static %}


{% load static %}
    <div class="container">
        <div>
            <h1>Create New Band</h1>
            <form method="post" action="{% url 'create_band' %}" enctype="multipart/form-data">{% csrf_token %}
            {%if form.errors%}
                <p class="error_msg bold_styling1">{{errors}}</p>
            {%endif%}
                <!--create band form using forms-->
                <table class="bold_styling1">
                    {{form.as_table}} <br>
                </table>
                <input name="create" value="Create" type="submit">

            </form>
        </div>
    </div>


{% endblock%}
