<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <!-- Bootstrap CSS -->
    <link href="{% static 'tempo/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Customized CSS -->
    <link href="{% static 'tempo/css/bootstrap-tempo.css' %}" rel="stylesheet">
    <link href="{% static 'tempo/css/sidebar-tempo.css' %}" rel="stylesheet">
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'tempo/images/favicon.ico' %}">
    <!-- Bootstrap Javascript -->
    <script src="{% static 'tempo/js/jquery-3.2.1.js' %}"></script>
    <script src="{% static 'tempo/js/bootstrap.min.js' %}"></script>
    <title>Tempo</title>
</head>
<body>
<div class="container">
    <!-- Header -->
    <div class="row">
        <div class="col-md-12" role="main">
            <!--http://getbootstrap.com/docs/3.3/components/#navbar-->
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <ul class="navbar-toggle collapsed" style="background-color: transparent;">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-haspopup="true" aria-expanded="false">
                                    Menu
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">My Profile</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">Find Users</a></li>
                                    <li><a href="#">Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                        <a class="navbar-brand" href="#">Tempo</a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-haspopup="true" aria-expanded="false">
                                    Menu
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">My Profile</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </div> <!-- /.col-md-12 -->
    </div>
    <!-- End of Header -->
    <!-- Main Row -->
    <!-- Source: https://bootsnipp.com/snippets/featured/user-profile-sidebar-->
    <div class="row profile">
        <!-- Sidebar -->
        <div class="col-md-3">
            <div class="profile-sidebar">
                <div class="profile-userpic">
                    <img src="{% static 'tempo/images/profpict2.png' %}" class="img-responsive" alt="">
                </div>
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        User Name
                    </div>
                </div>
                <!-- Sidebar Menu -->
                <div class="profile-usermenu">
                    <ul class="nav">
                        <li class="active">
                            <a href="#">
                                <i class="glyphicon glyphicon-calendar"></i>
                                Calendar </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="glyphicon glyphicon-globe"></i>
                                Live Session </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class="glyphicon glyphicon-music"></i>
                                Song List </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="glyphicon glyphicon-user"></i>
                                Team Member </a>
                        </li>
                    </ul>
                </div>
                <!-- End of Sidebar Menu -->
            </div>
        </div>
        <!-- End of Sidebar -->
        <!-- Main Content -->
        <div class="col-md-9">
            <div class="profile-content">
                <div>{% block content %}{% endblock %}</div>
            </div>
        </div>
        <!-- End of  Main Content -->
    </div>
    <!-- End of Main Row -->
</div>
</body>
</html>

