<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <!-- Bootstrap CSS -->
    <link href="{% static 'tempo/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

    <!-- Customized CSS -->
    <link href="{% static 'tempo/css/bootstrap-tempo.css' %}" rel="stylesheet">
    <link href="{% static 'tempo/css/sidebar-tempo.css' %}" rel="stylesheet">
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'tempo/images/favicon.ico' %}">

    <!-- Bootstrap Javascript -->
    <script src="{% static 'tempo/js/jquery-3.2.1.js' %}"></script>
    <script src="{% static 'tempo/js/bootstrap.min.js' %}"></script>
    <title>Tempo</title>
</head>
<body>
<div class="container">
    <!-- Header -->
    <div class="row">
        <div class="col-lg-16 col-md-12" role="main">
            <!--http://getbootstrap.com/docs/3.3/components/#navbar-->
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <ul class="navbar-toggle collapsed" style="background-color: transparent;">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-haspopup="true" aria-expanded="false">
                                    Login
                                </a>

                            </li>
                        </ul>
                        <a class="navbar-brand" href="#">Tempo</a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="{% url 'welcome' %}" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-haspopup="true" aria-expanded="false">
                                    Home
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url 'user_home' username=request.user.username %}">My Profile</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="{% url 'edit_profile' username=request.user.username %}">Edit</a> </li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="/logout">Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </div> <!-- /.col-md-12 -->
    </div>
    <!-- End of Header -->
    <!-- Main Row -->
    <!-- Source: https://bootsnipp.com/snippets/featured/user-profile-sidebar-->
    <!-- End of Main Row -->

    <div class="row profile">
        <!-- Sidebar -->
        <!-- Main Content -->
        <div class="col-lg-16 col-md-12">
            <div class="profile-content">
                <div>{% block content %}{% endblock %}</div>
            </div>
        </div>
        <!-- End of  Main Content -->
    </div>



</div>
</body>
</html>