{%extends "header_base.html"%}
{% block title %}Home{% endblock%}
{%block content%}
{% load static %}

<div class="col-md-2 col-sm-2 col-xs-2">


    <div class="container">
        <h2>Song</h2>
        <p>List of all song from {{band_name}}:</p>

        {% if song_list %}
        {% for list in song_list %}


        <div class="gallery">
            <a href="banner.png">
                <img src="{% url 'song_photo' list.id %}" alt="{% static 'tempo/images/default-cover-song.png' %}" width="300" height="200">
            </a>
            <div class="desc">Name: {{list.name}} <br> {{list.creation_time}}</div>
        </div>

        {%endfor%}
        {%endif%}


    </div>


    <button type="button" class="btn btn-default btn-xs" data-toggle="modal"
            data-target="#myModal-{{item.id}}">
        Add New Song List
    </button>
    <!-- Modal -->
    <!-- http://getbootstrap.com/docs/3.3/javascript/#modals -->
    <div class="modal fade" id="myModal-{{item.id}}" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="Add Comment" id="myModalLabel">New Song</h4>
                </div>
                <form action="/add_song" method="post">
                    <div class="modal-body">
                        {{form}}
                    </div>
                    <div class="modal-footer">
                        {% csrf_token %}
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary comment-btn" id="{{item.id}}">Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
</div>
{% endblock%}
