{%extends "login_register_base.html"%}
{% block title %}Home{% endblock%}
{%block content%}
{% load static %}
<div>
    <h3 class="welcome">{{user.get_full_name}}, welcome to <b><i>Tempo</i></b></h3>
</div>
<div class="go_profile">
    <img class = "create_band_image" src="{% static 'tempo/images/mainpage.png' %}" alt="">
    <br>
    <a href ="{% url 'user_home' username=details %}" class = "redirect_profile">Go to profile</a>
</div>

<div class="create_band">
    <img class = "create_band_image" src="{% static 'tempo/images/band.gif' %}" alt="">
    <br>
    <a class = "redirect_profile" href ="#">Create a Band?</a>

</div>

{% endblock%}